
.home-container {
  /* height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fdfdfd; */
}

.greeting-heading {
 margin-left: 8%;
 padding-top: 5%;
}

.unique-heading {
  margin-top: 5%;
  position: relative;
}

.unique-heading h2 {
  margin-left: 8%;
  padding-bottom: 10px;
}

.unique-heading .cards {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
 
}

