
.my-properties-container {
  margin-top: 5%;
  margin-left: 5%;
}


.inner-properties-container {
 width: 80%;
}

.create-property-btn {
  margin-right: 10% !important;
  margin-top: -2% !important;
  color: black !important;
}

.property-description-box {
  font-size: 16px !important;
}

.property-buttons {
  margin-top: 10px;
}

.property-buttons button {
  margin-right: 15px !important;
}

.edit-btn {
  color: white !important;
  background-color: #5bc0de !important;
}

.delete-btn {
  color: white !important;
  background-color: #d9534f !important;
}

.property-form-data {
  color: rgba(0,0,0,.7);
}

