
.my-properties-container {
  margin-top: 5%;
  margin-left: 5%;
}


.inner-properties-container {
 width: 80%;
}

.create-property-btn {
  margin-right: 10% !important;
  margin-top: -2% !important;
  color: black !important;
}

.property-description-box {
  font-size: 16px !important;
}