

.test {
  margin: 0px auto;
  height: 400px;
  overflow: hidden;
}

.property-name-box {
  background-color: #F2F2F2;
  text-align: center;
  margin-left: 3%;
}

.inner-property-name-box {
  margin-top: 15%;
}

.property-name-box h1 {
  font-size: 35px;
  width: 80%; 
  margin-right: auto;
  margin-left: auto;
}

.property-image {
  width: 100%;
}

.small-space {
  height: 80px;
}

.property-info-container {
  text-align: center;
}

.property-desc-box {
  padding: 0px !important;
}

.property-description {
  font-size: 18px;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.ui.feed>.event>.label {
 width: 4.8em !important;
}

.user-name {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
  display: block;
}

.k {
  margin-top: -2%;
}

.ki iframe {
  width: 80%;
  height: 300px;
}

.reviews-container {
  text-align: left;
}

.review-div {
  margin-top: 10%;
}

.book-container {
  margin-top: 30px;
}

.bread-crumb {
  margin-left: 5%;
  margin-top: 3%;
}

.modal-date {
  font-size: 16px;
}

.amount-container {
  display:flex;
}

.amount-right {
 float: right;
 font-size: 16px;
}

.total-amount {
  font-weight: bold;
  font-size: 17px;
}

.modal-desc-container { 
  margin-left: 15%;
}

.review-btn {
  margin-right: 25% !important;
}